.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black background */
  z-index: 999; /* Ensure it's behind the page editor */
  pointer-events: auto; /* Allow clicks to close the editor */
  transition: opacity 0.3s ease-in-out; /* Add transition for fading */
}



/* General Styles */
.page-editor {
  opacity: 0;
  position: fixed;
  width: 9vw; /* Adjusted width for better visibility */
  height: auto;
  background-color: white;
  padding: 1rem;
  z-index: 1001; /* Ensure it's above the overlay */
  transform: translateY(-140%);
  transition: opacity 0.3s ease-in-out; /* Add transition for fading */
  overflow: hidden;
  right: 6vw; /* Position 10px from the right edge */
  top: 80vh; /* Position 40px from the top */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  border-radius: 10px;
}


.page-editor.open {
  opacity: 1; /* Show editor when open */
}

.page-editor.dark-mode {
  background-color: #191919;
  color: #f1f1f1;
}

.page-editor.dark-mode .close:before,
.page-editor.dark-mode .close:after {
  background-color: #f1f1f1;
}


.page-editor.dark-mode .close {
  color: white;
}

/* Close Button */
.close {
  position: fixed;
  top: 10px; /* Adjusted to align with the top edge */
  right: 10px; /* Align with the right edge */
  opacity: 0.5;
  cursor: pointer;
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  z-index: 1100;
  transform: scale(0.7);
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: ' ';
  height: 32px;
  width: 2px;
  background-color: #333;
  transform: translate(-50%, -50%);
}

.close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Editor Section */
.editor-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.editor-section h2 {
  margin-bottom: 0;
  font-size: 1.2rem;
  color: inherit;
  font-weight: 100;
}

.editor-section input[type="range"] {
  width: 70%; /* Adjust width for better fit */
  margin-bottom: 1vh;
}


/* Toggle Switch */
.toggle-switch {
  position: relative;
  width: 60px;
  height: 30px;
  --light: #d8dbe0;
  --dark: #28292c;
  transform: scale(0.7);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  border-radius: 15px; /* Adjusted border radius */
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px; /* Adjusted border radius */
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 2px; /* Adjusted position */
  left: 2px; /* Adjusted position */
  width: 26px; /* Reduced width */
  height: 26px; /* Reduced height */
  border-radius: 50%;
  box-shadow: inset 10px -4px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  transform: translateX(30px); /* Adjusted for smaller switch size */
  background-color: var(--dark);
  box-shadow: none;
}
