
.landing-page {
  height: 100vh;
  width: 100vw;
  background-color: #000; /* Black background */
  display: flex;
  align-items: flex-start; /* Align to the top */
  justify-content: flex-start; /* Align to the left */
  z-index: 1000;
  overflow: hidden;
  background-color: white;
   animation: fadeIn 1.5s ease-in-out forwards; /* Fade in animation */

}

.slogan-container {
  margin-top: 20px; /* Slightly down from the top */
  margin-left: 5vh;
  background-color: #000; /* Black background */
  animation: fadeIn 1.5s ease-in-out forwards; /* Fade in animation */


}

.slogan {
  font-size: 48px; /* Large font size */
  color: #fff; /* White text color */
  font-weight: 800;
  line-height: 1.5; /* Line height for the multi-line slogan */
}

