.login-page {
  display: flex;
  margin-top: 25vh;
  justify-content: center;
  animation: fadeIn 0.75s ease-out;
}

.login-container {
  text-align: center;
  width: 100%;
  max-width: 400px; /* Max width for the container */
}

h3 {
  font-size: 40px;
  color: rgb(38, 38, 167);
  margin: 0;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  height: 10px;
  margin-bottom: 10px;
}

.or-text {
  font-size: 1rem;
  color: #666;
  margin-bottom: 50px;
  display: flex;
  padding-left: 15%;
  height: 20px; /* Ensure a fixed height for the container */
  white-space: nowrap;
  overflow: hidden; /* Hide overflowing text during the slide effect */
  position: relative;
}

.fixed-text {
  font-weight: normal;
  padding-left: 10px;

}

.role-text {
  display: inline-block;
  font-weight: bold;
}

.slide-off {
  animation: slideOff 0.5s forwards ease-in-out;
}

.slide-on {
  animation: slideOn 0.5s forwards ease-in-out;
}

@keyframes slideOff {
  0% {
      transform: translateY(0);
      opacity: 1;
  }
  100% {
      transform: translateY(-100%);
      opacity: 0;
  }
}

@keyframes slideOn {
  0% {
      transform: translateY(100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.email-login-button {
  width: 100%;
  padding: 12px;
  background-color: #191919;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  height: 40px;
}

.email-login-button:hover {
  background-color: #333;
}

.email-label {
  margin-bottom: 8px;
  margin-top: 50px;
  font-size: 0.9rem;
  color: #333;
  align-self: flex-start; /* Align label to the left */
}
