/* Fade-in effect for the page */
.upload-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  transition: opacity 0.75s ease-out; /* Duration and timing function for the fade-in effect */
  background-color: white; /* Default background color */
  color: black;

}


.upload-page.dark-mode {
  background-color: black; /* Dark background for dark mode */
  color: white; /* White text color for dark mode */
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  transition: opacity 0.75s ease-out; /* Duration and timing function for the fade-in effect */
}

.file-input {
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
  color: #000; /* Default text color */
  border: 1.5px solid white;
}

.upload-page.dark-mode .file-input {
  color: #fff; /* White text color for file input in dark mode */
}

.upload-button {
  width: 100%;
  padding: 12px;
  background-color: #191919;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  height: 40px;
  max-width: 400px;
  transition: background-color 0.3s ease;
}

.upload-button:hover {
  background-color: #333;
}

.upload-page.dark-mode .upload-button {
  background-color: #444; /* Darker background for button in dark mode */
}

.upload-page.dark-mode .upload-button:hover {
  background-color: #666; /* Darker hover state for button in dark mode */
}

.message {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #333;
}

.upload-page.dark-mode .message {
  color: #ccc; /* Lighter text color for messages in dark mode */
}


.upload-page h3 {
  color: black; /* Default text color for the title */
}

.upload-page.dark-mode h3 {
  color: white; /* Text color for the title in dark mode */
}