.profile-details {
    width: 100%;
    max-width: 400px; /* Consistent max width */
    background-color: white;
    border-radius: 10px;
    text-align: center;
}


.logout-button {
    width: 60%;
    padding: 10px;
    background-color: #191919;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
}

.logout-button:hover {
    background-color: #333;
}

.uploads-container {
    margin-top: 30px;
}

body {
    transition: opacity 0.4s ease-out;
    opacity: 1;
}

body.fade-out {
    opacity: 0;
}
